<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/regions">
        Régions
      </a>
    </li>
    <li class="breadcrumb-item active">
      Départements
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Communes
    </li>
  </ol>
</nav>


<div class="col-8 m-auto">
  <table class="table table-striped table-hover mt-3 text-center">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Code</th>
        <th>Departement</th>
        <th>Population</th>
        <th>Code postaux</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let commune of communesArray">
        <td>{{commune.nom}}</td>
        <td>{{commune.code}}</td>
        <td>{{commune.codeDepartement}}</td>
        <td>{{commune.codeRegion}}</td>
        <td>{{commune.population}}</td>
        <td>
          <ul class="list-unstyled">
            <li *ngFor="let codePostaux of commune.codePostaux">{{codePostaux.codeP}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
